@model Shauli_blog.Models.Comment
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header>
    <link rel="stylesheet" href="~/Content/11.css" type="text/css" media="screen" />
</header>

		<!-- Introduction --> 

     <div id="AdminTitle">Admins Page</div>   
    <form action="/My/SearchCommentAdmin" method="post" id="SearchCommentsAdmin"style="clear:both"><!--the form for the search functionality-->
        <h3>Search Comments<br />
        </h3>
        <p style="float:left;">
            <label for="Id">Comment Id</label>
            <input name="Id" id="Id" type="text" style="width:15%;"/><!--search by user name of submitter-->
        </p>
        <p> 
            <label for="AId">Article Id</label>
            <input name="AId" id="AId" type="text" style="width:15%;"/><!--search by user name of submitter-->
        </p>
        <p>
            <label for="username">User name</label>
            <input name="name" id="name" type="text" style="width:200px;"/><!--search by user name of submitter-->
        </p>
        <p>
            <label for="date">From</label><!--search by the date of the submission by range-->
            <input name="Sdate" id="Sdate" type="date" />
            <label id="Form2">To</label>
            <input name="Fdate" id="Fdate" type="date" />

        </p>
        <p>
            <label for="email">E-mail</label>
            <input name="email"  type="email" style="margin-right:20px;"/>

            @Html.ValidationMessageFor(model => model.email)<!--search by the submitter email-->
        </p>
        <p>
            <label for="website">Web site</label>
            <input name="website"  type="url" style="margin-right:20px;"/>
            @Html.ValidationMessageFor(model => model.website)
        </p>
        <p>
            <label for="words">Words from the comment</label> <!--search by words from the actual comment-->
            <textarea name="description" id="description"></textarea>
        </p>
        <p>
            <label for="Score"><!--search by the score of the submitter --> 
                Points: 1-10
            </label>
            <input type="number" id="point" name="point" min="1" max="10" value="1" onchange="updateTextInput(this.value);"> 
            
            <input value="Search" type="submit" />
        </p>
       
            <script>

                function updateTextInput(val) {
                    document.getElementById("point").value = val;
                }


            </script>
               
            
            
       

    </form>
<div id="LinksWrapper">
       <a class="AdminLinks" href="/My/ViewAll" style="clear:both;">
       
                      Admin<br />
                Comments
              </a>
<a class="AdminLinks" href="/My/ShowUsers" >
                    Admin<br /> Users
                </a>

<a class="AdminLinks" href="/Articles/Create" style="float:left;" >
                    Create<br />new <br />article
                </a>
    <a class="AdminLinks" href="/Articles/Index" style="
        " >
                    Admin<br />articles
                </a>

                <p></p>
   
        </div>
                <!--<form action="#" method="post" style="clear:both">
                    <h3>Post a comment</h3>
                    <p>
                        <label for="name">Name</label>
                        <input name="name" id="name" type="text" required />
                    </p>
                    <p>
                        <label for="email">E-mail</label>
                        <input name="email" id="email" type="email" required />
                    </p>
                    <p>
                        <label for="website">Website</label>
                        <input name="website" id="website" type="url" />
                    </p>
                    <p>
                        <label for="comment">Comment</label>
                        <textarea name="comment" id="comment" required></textarea>
                    </p>
                    <p><input type="submit" value="Post comment" /></p>
                </form>-->
        
<!--            <aside>
                <section>
                    <header>
                        <h3>Categories</h3>
                    </header>
                    <ul>
                        <li><a href="#">Lorem ipsum dolor</a></li>
                        <li><a href="#">Sit amet consectetur</a></li>
                        <li><a href="#">Adipisicing elit sed</a></li>
                    </ul>
                </section>
                <section>
                    <header>
                        <h3>Archives</h3>
                    </header>
                    <ul>
                        <li><a href="#">December 2008</a></li>
                        <li><a href="#">January 2009</a></li>
                        <li><a href="#">February 2009</a></li>
                        <li><a href="#">March 2009</a></li>
                    </ul>
                </section>
            </aside>
    -->
       
<style>
    #AdminTitle {
         margin-bottom:0.5em; 
         text-align:center;
         font:bold 4em Tahoma;
          background-color:#777777;
           color:lightblue;
           border-radius:20px ;
    }
    #LinksWrapper {

        border:1px solid black;
        background:linear-gradient(45deg,#4422ff,#445533);
        
        border-radius:10px;
        width:50%;
        height:auto;
        margin:0px;
        float:left;
        align-items:center;

    }
    .AdminLinks {
        font:bold 1.5em tahoma;
        text-align:center;
        float:left;
        background-color:#a29eff;
        padding:3em;
        margin:0.5em 0.4em;
    }
    .AdminLinks:hover {
        
       border-radius:5px 5px;

        background-color:#f39922;
        
    }
    a.a:hover {
       
       border-radius:2px 4px;
       background-color:lightblue;
        
    }


</style>       


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
