@{
    ViewBag.Title = "Map";
}

@{
    string cord = ViewBag.lat + "," + ViewBag.lng;
}

<br/><br/>
<h2>Map</h2>
<br/>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false"></script>
<script>
    function initialize() {
        myLatlng = new google.maps.LatLng(@cord);
        var mapProp = {
            center: myLatlng,
            zoom: 17,
            mapTypeId: google.maps.MapTypeId.TERRAIN
        };
        var map = new google.maps.Map(document.getElementById("googleMap")
          , mapProp);

        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title: 'Main Office'
        });
    }



    google.maps.event.addDomListener(window, 'load', initialize);
</script>
<div id="googleMap" style="width:600px;height:460px"></div>
